.space-block-common {
    margin: 2rem;
    padding: 0;
    height: 0;
    border: none;
    border-top: 1px solid #333;
}

.space-block-double {
    margin: 2rem;
    padding: 0;
    height: 1px;
    border: none;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.space-block-hradient {
    margin: 2rem;
    padding: 0;
    height: 6px;
    border: none;
    background: linear-gradient(45deg, #333, #ddd);
}
